.history{
    min-height: 10vh;
    width: 28vw;
    /* background-color: rgb(151, 212, 151); */
}

.history h2{
    font: bold 1.5vmax 'gilroy';
    margin-bottom: 0.4vmax;
}

.list{
    min-height: inherit;
    width: inherit;
    /* background-color: fuchsia; */
    margin-top: 10px;
    margin-bottom: 10px;
}

.list .li{
    height: 5vh;
    display: flex;
    align-items: center;
    padding: 0.5vmax;
    justify-content: space-between;
    width: inherit;
    border-radius: 0.4vmax;
    /* border-right: 0.5vmax solid green; */
    margin-bottom: 0.5vmax;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.267);
}

.list .li h6{
    font: 600 1vmax 'gilroy';
}

.list .li span{
    font: 600 1vmax 'gilroy';
}