*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  height: 100%;
  width: 100%;
}

.main{
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: rgb(233, 233, 233);
}

.main>h1{
  font: 800 2.3vmax 'gilroy';
  margin-bottom: 30px;
}